API_CORS=*
API_SESSION_TIMEOUT=60000
API_BASE_URL=http://localhost:8080/api
BASE_URL=http://localhost:8080/
BROWSER_BASE_URL=http://localhost:8080/
WSS_BASE_URL=ws://localhost:8080/
API_SESSION_SECRET=replace-this
INTRA42_UID=replace-this
INTRA42_SECRET=replace-this
# must be absolute
API_UPLOADS_PATH=/uploads

